.container {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  background: linear-gradient(180deg, #1c1d20 0%, #17181a 100%);;

  .texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 100%;

    .title {
      font-weight: 600;
      font-size: 3rem;
      text-align: center;
      background: linear-gradient(35deg, #fff 0%, #aec5ff 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .subtitle {
      max-width: 350px;
      
      color: $light;
      text-align: center;
      font-size: 1rem;
      font-weight: 200;
      text-align: center;
      max-width: 320px;
      color: $light;
      letter-spacing: .05rem;

      [data-accent] {
        color: $yellow20;
      }
    }

    .end {
      padding: 1rem;
    }
  }

  .end {
    margin-top: auto;
    padding: 1rem;
  }
}