header.header {
  z-index: 0;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  background: $dark;
  border-bottom: 1px solid $dark10;
  overflow: hidden;

  user-select: none;
  -webkit-user-drag: none;

  .company {
    position: relative;
    
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .shadow {
      position: absolute;
      z-index: -1;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0) skewX(-40deg);
      width: 5rem;
      height: 10rem;
      background: $accent2;
      opacity: .4;
      filter: blur(50px);
    }

    .name {
      color: $yellow20;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      font-stretch: 150%;
    }

    .subtitle {
      color: $accent2;
      font-size: 0.625rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      font-stretch: 120%;
    }
  }

  .user {
    display: flex;
    align-items: center;
    gap: .75rem;

    .balance {
      color: $yellow20;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      font-stretch: 150%;
    }

    .avatar {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}