.row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;

  background: $dark10;

  .title {
    color: $light;
    font-size: 1.12rem;
    font-weight: 800;
    font-stretch: 150%;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: inherit;
  }
}
