// Палитра
$white: rgb(255, 255, 255);
$accent1: #40485C;
$accent2: #5B6C96;
$yellow10: #bac5e0;
$yellow15: #9FACCC;
$yellow20: #8393CC;
$dark: #141415;
$dark10: #19191B;
$dark20: #212224;
$light: #DCDFE8;
$light5: #81848A;
$light10: #BEB8B5;

// Clear width
$cw: 640px;
$one: calc(1vh + 5vw);
$scrollWidth: .8rem;
$loaderSize: 20rem;
$contentPaddingX: clamp(1rem, (1vh + 5vw) * 0.5, 2rem);

$bgColor: $dark;

// Components
$buttonDefaultBg: $dark20;
$buttonDefaultText: $light;
$buttonDefaultBgHover: rgb(35, 36, 37);
$buttonDefaultTextHover: $light;
$buttonDefaultDisabledBg: $dark20;
$buttonDefaultDisabledText: $yellow10;

$buttonStrokedStrokeColor: $yellow20;
$buttonStrokedBg: transparent;
$buttonStrokedText: $white;
$buttonStrokedBgHover: transparent;
$buttonStrokedTextHover: $white;
$buttonStrokedDisabledBg: transparent;
$buttonStrokedDisabledText: $white;

// Input
$inputDefaultBg: $dark;
$inputDefaultText: $light;
$inputDefaultPlaceholder: $light10;
$inputDefaultBgWrong: $dark;
$inputDefaultTextWrong: $light;
$inputDefaultPlaceholderWrong: $light10;
$inputDefaultBgHover: $dark;
$inputDefaultTextHover: $light;
$inputDefaultPlaceholderHover: $light10;