// Палитра
$white: rgb(255, 255, 255);
$accent1: rgb(92, 76, 64);
$accent2: rgb(150, 116, 91);
$yellow10: rgb(212, 206, 181);
$yellow15: rgb(204, 194, 159);
$yellow20: rgb(204, 185, 133);
$dark: rgb(21, 20, 20);
$dark10: rgb(27, 25, 25);
$dark20: rgb(36, 34, 33);
$light: rgb(232, 226, 220);
$light5: rgb(138, 134, 129);
$light10: rgb(190, 184, 181);

// Clear width
$cw: 640px;
$one: calc(1vh + 5vw);
$scrollWidth: .8rem;
$loaderSize: 20rem;
$contentPaddingX: clamp(1rem, (1vh + 5vw) * 0.5, 2rem);

$bgColor: $dark;

// Components
$buttonDefaultBg: $dark20;
$buttonDefaultText: $light;
$buttonDefaultBgHover: rgb(43, 42, 40);
$buttonDefaultTextHover: $yellow20;
$buttonDefaultDisabledBg: $dark20;
$buttonDefaultDisabledText: $yellow10;

$buttonStrokedStrokeColor: $yellow20;
$buttonStrokedBg: transparent;
$buttonStrokedText: $white;
$buttonStrokedBgHover: transparent;
$buttonStrokedTextHover: $white;
$buttonStrokedDisabledBg: transparent;
$buttonStrokedDisabledText: $white;

// Input
$inputDefaultBg: $dark;
$inputDefaultText: $light;
$inputDefaultPlaceholder: $light10;
$inputDefaultBgWrong: $dark;
$inputDefaultTextWrong: $light;
$inputDefaultPlaceholderWrong: $light10;
$inputDefaultBgHover: $dark;
$inputDefaultTextHover: $light;
$inputDefaultPlaceholderHover: $light10;