.textarea.default {
  $bg: $inputDefaultBg;
  $color: $inputDefaultText;
  $placehodler: $inputDefaultPlaceholder;
  $bgHover: $inputDefaultBgHover;
  $colorHover: $inputDefaultTextHover;
  $placehodlerHover: $inputDefaultPlaceholderHover;

  background: $bg;
  color: $color;

  &::placeholder {
    color: $placehodler;
  }

  &:hover,
  &:has(input:focus) {
    background: $bgHover;
    color: $colorHover;

    &::placeholder {
      color: $placehodlerHover;
    }
  }
}